.majagGuideCss {
  width:1920px;
  height: 1080px;
}
.majagGuideTextWrapCss {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
.majagGuideBodyCss {
  width : 40%;
  height: 20%;
  margin-left: 40%;
  color: #1d3557;
  font-weight: bold;
  font-size: 30px;
}