.senbaKuronoCss{
  width:1920px;
  height: 1080px;
  background-color: white;
}
.senbakuronoWrapCss{
  margin-left: 10%;
}
.senbaKuronoTitleCss{
  font-size: 100px;
  margin-bottom: 5%;
}
.senbakuronoPressKeyCss {
  font-size: 30px;
  margin-top: 3%;
}
.senbaKuronoBodyCss{
  font-size: 35px;
}

